nextflow.enable.dsl=2

conda.enabled = true

process {
	cpus = 16 
	memory = { 4.GB * task.cpus }
	conda = "/lustre/home/acct-medty/medty-c/.conda/envs/RNAseq" 
}

// Reference configuration: set `params.ref` to 'hsa' or 'mmu' (can be overridden on CLI)
params {
	ref = 'hsa'

	// Paths for different reference assemblies. Update the paths for your environment as needed.
	references = [
		hsa: [
			gtf: "/lustre/home/acct-medty/medty-c/database/GENCODE/GRCh38.p13.gencode.v43.annotation.gtf",
			hisat_index: "/lustre/home/acct-medkkw/medlyb/database/annotation/gatk_ann/hg38/Hisat2index2/Homo_sapiens_assembly38.fasta",
			star_index: "/lustre/home/acct-medkkw/medlyb/database/annotation/gatk_ann/hg38/STARindex2",
			gene_lens: "/lustre/home/acct-medty/medty-c/database/GENCODE/gene_len.v43.new.txt",
			gene_bed: "/lustre/home/acct-medty/medty-c/database/GENCODE/GRCh38.p13.gencode.v43.annotation.bed"
		],
		mmu: [
			gtf: "/lustre/home/acct-medty/medty-c/database/GRCm39/gencode.vM38.primary_assembly.basic.annotation.gtf",
			hisat_index: "/lustre/home/acct-medty/medty-c/database/GRCm39/Hisat2index/GRCm39.primary_assembly.genome.fa",
			star_index: "/lustre/home/acct-medty/medty-c/database/GRCm39/STARindex",
			gene_lens: "/lustre/home/acct-medty/medty-c/database/GRCm39/gene_len.vM38.txt",
			gene_bed: "/lustre/home/acct-medty/medty-c/database/GRCm39/gencode.vM38.primary_assembly.basic.annotation.bed"
		]
	]
}

